/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display: block;}
* {font-size:100.01%;}
html{font-size:62.5%;}
body{
	color:#363636;
	font:1.6em/1.375em 'Source Sans Pro', 'Trebuchet MS', Arial, Verdana, sans-serif;
	background:#fff;
	min-width:320px;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:none;
}
ol, ul{list-style: none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
img{vertical-align:top;}
input[type=submit]:hover{cursor:pointer;}
input[type=image]{
	padding:0;
	border:none;
}
input[type=text],
input[type=password],
input[type=submit],
input[type=file],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
textarea{
	-webkit-appearance:none;
	-webkit-border-radius:0;
}
a{
	text-decoration:none;
	font-weight:600;
	color:#b22217;
}
a:hover{text-decoration:none;}
a:active{background-color:transparent;}
#wrapper{
	overflow:hidden;
	width:100%;
	position:relative;

	max-width:1440px;
	margin:auto;
}
/* header */
#header{width:100%;}
/* header-holder */
.header-holder{
	position:relative;
	min-height:550px;
	overflow:hidden;
	z-index:1;
}
/* bg */
.bg{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:-1;
}
.bg span{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.bg img{position:absolute;}

.bg .desctop{

}
.bg .tablet{
	left: -9999px;
}
.bg .mobile{
	left: -9999px;
}

/* header-frame, header-area */
.header-frame,
.header-area{
	max-width:1000px;
	margin:0 auto;
	position:relative;
	z-index:20;
}
.header-frame{min-height:550px;}
.home .header-frame{min-height:643px;}
/* btn-scroll */
.btn-scroll{
	background:url(/content/sprite.png) no-repeat;
	width:70px;
	height:69px;
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	left:50%;
	top:50%;
	margin:-35px 0 0 -35px;
	z-index:2;
}
.btn-scroll a,
.logo-go-anywhere a,
.logo a,
.logo-new a{
	display:block;
	height:100%;
}
/* logo-go-anywhere */
.logo-go-anywhere{
	background:url(/content/logo-go-anywhere.png) no-repeat;
	width:290px;
	height:203px;
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	right:45px;
	top:32px;
	z-index:2;
}
/* logo new */
.logo-new{
	position:absolute;
	width:201px;
	height:212px;
	right:40%;
	top:32px;
}
.logo-new img{
	display:block;
	width:100%;
	height:auto;
}
.header-frame .note{
	position:absolute;
	bottom:12px;
	right:14px;
	color:#fff;
	font-size:0.75em;
	line-height:1.333em;
	z-index:2;
}
.home .header-holder .note{
	position:absolute;
	right:auto;
	bottom:8px;
	left:9px;
	color:#999;
	font-size:0.75em;
	line-height:1.333em;
	z-index:2;
}
/* nav-block */
.nav-block{
	position:fixed;
	top:70px;
	margin:0 0 0 10px;
	z-index:2;
	width:182px;
	background:url(/content/bg-nav-block.png) no-repeat;
	padding:52px 0 0;
	opacity:0.8;
}
.nav-block .holder{
	background:url(/content/bg-nav-block.png) no-repeat 100% 100%;
	padding:0 0 7px;
}
.nav-block .frame{
	background:url(/content/bg-nav-block.png) repeat-y -186px 0;
	width:100%;
}
.nav-block .frame:after{
	content:'';
	display:block;
	clear:both;
}
.nav-block .section{
	float:left;
	position:relative;
	margin:-31px 0 0;
	padding:0 10px 12px;
	width:162px;
}
/* logo */
.logo{
	background:url(/content/logo.png) no-repeat;
	width:158px;
	height:58px;
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	margin:0 auto 11px;
}
.open-close .opener{
	width:27px;
	height:17px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(/content/sprite.png) no-repeat -66px -151px;
	display:none;
}
/* logo-alt */
.logo-alt{
	background-position:0 -62px;
	width:150px;
	height:29px;
	float:left;
	display:none;
}
.nav-block .title{
	display:block;
	font-weight:700;
	font-size:0.875em;
	line-height:1.429em;
	color:#ce3024;
	background:#33363a;
	margin:0 -10px 16px;
	text-transform:uppercase;
	text-align:center;
}
/* main navigation */
.nav{
	text-align:center;
	overflow:hidden;
}
.nav-block ul li{
	background:url(/content/divider.png) no-repeat 50% 0;
	padding:9px 0 11px;
}
.nav-block ul li:first-child{background:none;}
.nav-block ul a{
	color:#fff;
	font-weight:normal;
}
.nav-block ul li.add {
	background: url(/content/divider.png) no-repeat 50% 0;
}
.nav-block ul a:hover {
	color:#b22217;
	text-decoration:none;
}
.order-nav,
.info-nav{display:none;}
.nav-block .order-nav a{color:#b22217;}
.nav-block .order-nav a:hover{color:#fff;}
.nav-block .info-nav a{color:#999;}
/* add navigation */
.add-nav{
	width:100%;
	overflow:hidden;
}
.add-nav li{
	float:left;
	width:14.284%;
}
.add-nav a{
	display:block;
	position:relative;
	color:#fff;
	cursor:pointer;
}
.add-nav img{
	width:100%;
	height:auto;
}
.add-nav a:hover{text-decoration:none;}
.add-nav .description{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#b32017 url(/content/bg-description.png) repeat-x;
	text-align:center;
	display:none;
}
.home .add-nav .description{
	background:#b32017;
	background-image:none;
	background-color:rgba(159, 23, 14, 0.8);
	opacity:1;
}
.add-nav .active .description,
.add-nav a:hover .description{display:block;}
.add-nav .active a:hover .description{display:none;}
.add-nav .holder{
	display:table;
	width:100%;
	height:100%;
}
.add-nav .frame{
	display:table-cell;
	vertical-align:middle;
	width:100%;
	height:100%;
}
.add-nav .block{
	display:block;
	padding:0 10px;
}
.add-nav .title{
	display:block;
	font-size:14px;
	line-height:17px;
	font-weight:700;
	text-transform:uppercase;
	margin:0 0 5px;
}
.add-nav em{
	display:block;
	font:200 29px/32px 'Source Sans Pro', 'Trebuchet MS', Arial, Verdana, sans-serif;
}
.home .add-nav em{
	line-height:35px;
}
/* info-block */
.info-block{
	position:relative;
	z-index:2;
	min-height:783px;
	overflow:hidden;
}
/* info-holder */
.info-holder{
	padding:48px 0 0 200px;
	max-width:800px;
	margin:0 auto;
}
.home .info-holder{
	padding: 0 0 363px 26px;
	max-width:890px;
}
.info-holder .heading{
	overflow:hidden;
	margin:0 0 0 -1px;
	padding:0 9% 49px 0;
}
.home .info-holder .heading{
	padding:50px 0 49px;
}
.info-holder .text-holder{
	overflow:hidden;
}
.home .info-holder .text-holder{
	font-size:1.25em;
	line-height:28px;
}
.picture-block{
	max-width:740px;
	margin:0 auto;
	padding:0 0 33px 200px;
	text-align:right;
	overflow:hidden;
}
.picture-block .text{
	display:inline-block;
	vertical-align:middle;
	max-width:280px;
	font-size:2.3em;
	line-height:1em;
	font-weight:300;
	text-align:left;
	color:#fff;
}
.picture-block img{
	display:inline-block;
	vertical-align:middle;
	margin:0 0 0 45px;
}
/* logo-prize */
.logo-prize{
	background:url(/content/sprite2.png) no-repeat 0 -214px;
	width:149px;
	height:101px;
	text-indent:-9999px;
	overflow:hidden;
	float:left;
	margin:0 35px 0 0;
}
/* content */
#content{width:100%;}
#content h2{
	font-size:3em;
	line-height:1em;
	font-weight:200;
	color:#33363a;
	margin:0 0 15px;
}
#content h2 span{
	display:block;
	font-size:0.375em;
	line-height:1.222em;
	text-transform:uppercase;
	font-weight:700;
	margin:0 0 2px;
}
#content .info-holder h2{
	font-size:2.4em;
	margin:23px 0 29px;
	overflow:hidden;
}
/* logo-subaru */
.logo-subaru{
	background:url(/content/sprite.png) no-repeat -75px 0;
	width:83px;
	height:71px;
	text-indent:-9999px;
	overflow:hidden;
	float:right;
	margin:22px 0 0 2%;
}
.home .logo-subaru{
	float:left;
	background:url(/content/logo-subaru.png) no-repeat;
	width:90px;
	height:68px;
	margin:57px 57px 0 1.5%;
}
.home  .logo-holder{
	float:left;
}
.logo-subaru a{
	display:block;
	height:100%;
}
/* gallery-holder */
.gallery-holder{padding:0 0 189px 25px;}
.gallery-holder:after{
	content:'';
	display:block;
	clear:both;
}
/* gallery */
.gallery{
	position:relative;
	float:right;
	width:484px;
	margin:2px -40px 0 50px;
}
.gallery .frame{
	position:relative;
	overflow:hidden;
	width:484px;
	margin:0 0 9px;
}
.gallery .frame ul{position:relative;}
.gallery .frame ul li{
	position:absolute;
	left:0;
	top:0;
}
.gallery .frame ul img{
	width:100%;
	height:auto;
}
/* gallery pagination */
.gallery .pagination{
	padding:2px 8px 0 0;
	text-align:center;
}
.gallery .pagination ul{
	display:inline-block;
	vertical-align:top;
	padding:0 0 8px;
}
*+html .gallery .pagination ul{display:inline;}
.gallery .pagination ul li{
	float:left;
	margin:0 6px;
}
.gallery .pagination ul a{
	display:block;
	position:relative;
	text-indent:-9999px;
	overflow:hidden;
	width:29px;
	height:29px;
	cursor:pointer;
	background:url(/content/sprite.png) no-repeat -1000px 0;
}
.gallery .pagination ul .brown{background-position:-162px 1px;}
.gallery .pagination ul .black{background-position:-193px 1px;}
.gallery .pagination ul .green{background-position:-162px -31px;}
.gallery .pagination ul .dark-blue{background-position:-193px -31px;}
.gallery .pagination ul .dark-grey{background-position:-85px -73px;}
.gallery .pagination ul .grey{background-position:-114px -73px;}
.gallery .pagination ul .blue{background-position:-143px -73px;}
.gallery .pagination ul .red{background-position:-173px -73px;}
.gallery .pagination ul .white{background-position:-204px -73px;}
.gallery .pagination ul span{
	position:absolute;
	left:0;
	top:0;
	width:29px;
	height:29px;
	background:url(/content/sprite.png) no-repeat 0 -111px;
	display:none;
}
.gallery .pagination ul a:hover,
.gallery .pagination ul .active a{
	width:29px;
	height:29px;
}
.gallery .pagination ul a:hover span,
.gallery .pagination ul .active span{display:block;}
.gallery .pagination .title{
	display:block;
	color:#363636;
	text-transform:uppercase;
}
.gallery .pagination .title strong{font-weight:700;}
.gallery-holder .content{overflow:hidden;}
#content h3{
	font-weight:700;
	font-size:1.5em;
	line-height:1.167em;
	margin:0 0 15px;
}
.gallery-holder .content p{margin:0 0 24px;}
/* btn-details */
.btn-details{
	display:block;
	background:url(/content/sprite.png) no-repeat 0 -74px;
	width:82px;
	height:34px;
	color:#444;
	font-size:16px;
	line-height:34px;
	font-weight:600;
	text-align:center;
}
/* data-list */
.data-list{
	overflow:hidden;
	color:#fff;
	padding:0 0 0 2px;
	text-transform:uppercase;
}
.home .data-list{
	float:right;
	margin-top:-4px;
	font-size:0.8em;
	color:#363636;
}
.data-list li{
	float:left;
	width:133px;
	margin:0 0 0 6%;
	text-align:center;
}
.home .data-list li{
	width:120px;
	float:none;
	margin-left:0 0 4px 3%;
}
.home .data-list li:last-child {
	margin-top:20px;
}
.data-list strong{
	font-weight:700;
	font-size:3em;
	line-height:1.042em;
	display:block;
	text-transform:none;
}
.home .data-list strong{
	color:#363636;
	margin:0 0 -4px;
	letter-spacing:-3px;
}
.home .data-list .symbol{
	display:block;
	margin:0 auto;
}
.prize-block{background:#000;}
/* prize-holder */
.prize-holder{
	max-width:474px;
	margin:0 auto;
	padding:112px 300px 0 226px;
	position:relative;
	min-height:455px;
}
/* logo-call */
.logo-call{
	background:url(/content/logos.png) no-repeat -171px 0;
	text-indent:-9999px;
	overflow:hidden;
	width:132px;
	height:103px;
	position:absolute;
	top:42px;
	right:97px;
}
.logo-call-2{
	background:url(/content/logo-call-2.png) no-repeat;
	width:132px;
	height:103px;
	opacity:.75;
	top:50px;
	right:205px;
}
.logo-call a{
	display:block;
	height:100%;
}
.prize-holder .photo{
	position:absolute;
	right:30px;
	bottom:0;
}
.prize-holder .holder{
	padding:0 0 20px;
	position:relative;
	z-index:15;
}
#content .prize-holder h2{color:#fff;}
/* icon-list */
.icon-list{
	padding:12px 0 25px 5px;
	overflow:hidden;
}
.icon-list li{
	display:inline-block;
	vertical-align:middle;
	margin:0 41px 0 0;
}
*+html .icon-list li{
	display:inline;
	margin-right:44px;
}
.icon-list a{
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	background:url(/content/sprite.png) no-repeat -1000px 0;
}
.icon-list .link-airplane{
	background-position:0 -144px;
	width:30px;
	height:28px;
}
.icon-list .link-building{
	background-position:-130px -106px;
	width:28px;
	height:30px;
}
.icon-list .link-car{
	background-position:-170px -106px;
	width:33px;
	height:17px;
}
.icon-list .link-key{
	background-position:-212px -106px;
	width:20px;
	height:32px;
}
.prize-holder .content{
	overflow:hidden;
	position:relative;
	z-index:5;
	padding:0 62px 0 1px;
	color:#ccc;
}
.prize-holder .content .logo-area{
	float:right;
	margin:4px 0 0 15px;
}
.prize-holder .content .row{overflow:hidden;}
.home .prize-holder .content .row{
	font-size:1.2em;
	line-height:1.4em;
}
.prize-holder .content p{margin:0 0 25px;}
.home .prize-holder .content p{
	margin-bottom:15px;
}
.prize-holder .btn-details{
	color:#999;
	margin-left:1px;
	background:#1a1b1d url(/content/sprite.png) no-repeat -35px -111px;
}
/* prize-section */
.prize-section{
	background:url(/content/bg-prize-section.jpg) no-repeat 50% 0;
	min-height:440px;
}
/* prize-area */
.prize-area{
	max-width:774px;
	padding:111px 0 0 225px;
	margin:0 auto;
}
#content .prize-area h2{color:#fff;}
.prize-section .heading{
	text-align:center;
	padding:0 0 206px;
}
.prize-section .content{
	overflow:hidden;
	padding:0 0 59px;
	background:url(/content/divider2.png) no-repeat 50% 100%;
}
.prize-section .content .columns{float:left;}
.prize-section .content .col{
	float:left;
	width:162px;
	padding:0 32px 0 0;
}
.prize-section .content .col-last{
	width:auto;
	padding-right:33px;
	float:none;
	overflow:hidden;
}
.prize-section .content .col-last,
.prize-section .content .col:first-child{padding-top:94px;}
.prize-section .content .col ul a{
	color:#363636;
	font-weight:normal;
}
/* logo-raffle */
.logo-raffle{
	background:url(/content/logos.png) no-repeat;
	width:166px;
	height:136px;
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	margin:0 0 22px -39px;
}
.logo-raffle a{
	display:block;
	height:100%;
}
.prize-section .content .col p{margin:0 0 28px;}
.prize-section .btn-details,
.shopping-holder .btn-details,
.lightbox .btn-details{
	color:#444;
	background:url(/content/sprite.png) no-repeat -150px -144px;
}
/* shopping-block */
.shopping-block{
	background:url(/content/bg-shopping-block.jpg) no-repeat 50% 100%;
	padding:67px 0 0;
}
.home .shopping-block{
	background:none;
}
/* shopping-holder */
.shopping-holder{
	max-width:774px;
	margin:0 auto;
	padding:0 0 305px 226px;
}
.home .shopping-holder{
	padding:0 10px;
	max-width:1130px;
}
.home .shopping-holder .frame{
	padding: 0 0 132px 290px;
	overflow:hidden;
}
.shopping-holder .heading{
	text-align:center;
	padding:0 30px 48px 0;
}
.shopping-holder .content{
	overflow:hidden;
	padding:0 58px 0 0;
}
.home .shopping-holder .content{
	padding:0;
}
.shopping-holder .col{
	float:left;
	width:45%;
}
.home .shopping-holder .col{
	width:42%;
}
.home .shopping-holder .col p{
	font-size:1.3em;
	line-height:1.35em;
	font-weight:300;
	margin:0 0 30px;
}
.shopping-holder .col p{margin:0 0 28px;}
.shopping-holder .content-holder{float:right;}
.home .shopping-holder .content-holder{
	width:54%;
}
.home .shopping-holder .content-holder img{
	display:block;
	width:100%;
	height:auto;
	margin:5px 0 0;
}
.home #content .shopping-block h3{
	margin-bottom:17px;
}
/* logo-unlock */
.logo-unlock{
	background:url(/content/sprite2.png) no-repeat;
	width:149px;
	height:107px;
	text-indent:-9999px;
	overflow:hidden;
	float:left;
	margin:12px 33px 0 0;
}
.logo-unlock a{
	display:block;
	height:100%;
}
/* offer-block */
.offer-block{
	margin:5px 0 0;
	float:right;
	color:#33363a;
	font-size:1em;
	line-height:1.188em;
	font-weight:700;
	text-transform:uppercase;
}
.offer-block p{margin:0 0 2px;}
.offer-block p span{
	font-size:3em;
	line-height:1.042em;
	font-weight:200;
	margin:-7px 6px 0 6px;
	display:inline-block;
	vertical-align:middle;
}
.offer-block .separator{
	display:block;
	color:#fff;
	text-transform:lowercase;
	font-size:1em;
	line-height:1.688em;
	font-weight:700;
	margin:0 0 6px 40px;
	text-align:center;
	background:url(/content/sprite.png) no-repeat -34px -149px;
	width:27px;
	height:27px;
}
/* item-block */
.item-block{
	max-width:806px;
	padding:79px 0 81px 194px;
	margin:0 auto;
}
.home .item-block{
	padding:0;
}
.item-block .heading{
	text-align:center;
	padding:0 26px 38px 0;
}
#content .item-block h2{margin:0 0 32px;}
.item-block .heading p{margin:0 21px;}
.item-block .heading p strong{font-weight:600;}
/* item-columns */
.item-columns{
	overflow:hidden;
	margin:0 0 0 -30px;
}
.item-columns .column{
	display:inline-block;
	vertical-align:top;
	width:240px;
	margin:0 0 40px 30px;
	text-align:center;
}
*+html .item-columns .column{
	display:inline;
	margin-right:3px;
}
.item-columns .data{
	display:block;
	margin:0 auto 38px;
	color:#fff;
	font-size:48px;
	line-height:92px;
	font-weight:200;
	text-align:center;
	width:100px;
	height:100px;
	letter-spacing:-2px;
	background:url(/content/sprite2.png) no-repeat -160px 0;
}
.item-columns .data-yellow{background-position:0 -110px;}
.item-columns .data-purple{background-position:-160px -110px;}
.item-columns .headline{padding:0 22px 3px;}
.item-columns .photo-block{margin:0 0 26px;}
.item-columns p{margin:0 0 23px;}
/* logo-list */
.logo-list{
	text-align:center;
	margin:0 -6px;
}
.logo-list li{
	display:inline;
	vertical-align:middle;
	margin:0 12px;
}
.logo-list img{vertical-align:middle;}
/* bottom-nav */
#go-top{
    display:none;
    }
#go-top a{
    padding:0 20px 0 20px;
    }
.bottom-nav{
	position:fixed;
	left:0;
	bottom:0;
	z-index:35;
	width:100%;
	border-top:1px solid #000;
	background:#000 url(/content/bg-bottom-nav.png) repeat-x;
}
/* navbar */
.navbar{
	max-width:1000px;
	margin:0 auto;
}
.home .navbar{
	max-width:1230px;
}
.navbar:after{
	content:'';
	display:block;
	clear:both;
}
/* share-block */
.share-block{
	float:left;
	margin:-11px 0 0 -9999px;
	padding:0 5px 0 9999px;
	background:url(/content/sprite-bg.png) no-repeat 100% 0;
}
/* buy-block */
.buy-block{
	position:relative;
	float:right;
	margin:-11px -9999px 0 0;
	background:url(/content/sprite-bg.png) no-repeat 0 -79px;
	padding:0 9999px 0 5px;
}
.share-block .title,
.buy-block .title{
	color:#fff;
	float:left;
	text-transform:uppercase;
	font-size:16px;
	line-height:19px;
	margin:12px 42px 14px 37px;
}
.home .share-block .title{
	margin:12px 39px 14px 21px;
}
.buy-block .title{margin:12px 34px 14px 15px;}
.home .buy-block .title{
	margin:12px 14px 14px 21px;
}
.share-block .title span,
.buy-block .title span{
	font-size:22px;
	line-height:24px;
	font-weight:900;
	display:block;
	margin:0 0 -1px;
}
.buy-block .title span{margin:-2px 0 0;}
.share-block .title a,
.buy-block .title a{
	color:#fff;
	display:inline-block;
	vertical-align:top;
	background:url(/content/icons.png) no-repeat 0 10px;
	padding:0 0 0 53px;
}
.home .share-block .title a{
	padding-left:49px;
}
.buy-block .title a{
	background-position:0 -107px;
	padding:0 0 0 61px;
}
.share-block .title a:hover{
    text-decoration:none;
    background:url(/content/icons.png) no-repeat 0 -493px;

}
.buy-block .title a:hover{
    text-decoration:none;
    background:url(/content/icons.png) no-repeat 0 -610px;
}
.home .buy-block .title a{
	background:url(/content/icon-mail.png) no-repeat 0 11px;
	padding-left:58px;
}
.share-block .title a img{
	float:right;
	margin: -55px -43px -13px 24px;
}
.bottom-nav .content{
	text-align:center;
	padding:0 0 7px;
}
.home .bottom-nav .content{
	max-width:536px;
	margin:0 auto;
}
/* sub navigation */
.sub-nav{
	float:left;
	padding:15px 0 10px 1%;
	margin:0 -13px 0 0;
	text-transform:uppercase;
	font-size:16px;
	line-height:22px;
}
.sub-nav2{
	float:right;
	padding:15px 2% 10px 0;
	margin:0 0 0 -14px;
}
.sub-nav li{
	float:left;
	padding:0 13px 0 14px;
}
.sub-nav a{color:#fff;}
.sub-nav a:hover{color:#b22217; text-decoration:none;}
/* counter-block */
.counter-block{
	display:inline-block;
	vertical-align:top;
	position:relative;
	padding:10px 0 0;
}
.counter-block:after{
	content:'';
	display:block;
	clear:both;
}
*+html .counter-block{display:inline;}
.flip-counter{overflow:hidden;}
.flip-counter ul.cd {
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
}
#flip-counter_d5,
#flip-counter_d3,
#flip-counter_d1{margin-left:3px;}
.flip-counter li{
	margin-right:-1px;
	font-size:0;
	line-height:0;
	background:url(/content/digits.png) 0 0 no-repeat
}
.flip-counter li.t{
	background-position:0 0;
	width:21px;
	height:14px;
}
.flip-counter li.b{
	background-position:0 0;
	width:21px;
	height:14px;
}
.flip-counter li.s{display:none;}
.counter-text{
	margin:0 0 -4px;
	padding:0;
	list-style:none;
	overflow:hidden;
	font-size:12px;
	line-height:16px;
	text-transform:uppercase;
	color:#fff;
}
.counter-text li{
	float:left;
	width:42px;
	text-align:center;
}
#flip-counter_d8,
#flip-counter_d9,
#flip-counter_d10 {display: none;}
.counter-block .drop{
	position:absolute;
	padding:9px 0 0;
	bottom: 100%;
	left:50%;
	margin:0 0 0 -135px;
	font-size:14px;
	line-height:17px;
	color:#fff;
	width:271px;
	height:27px;
	background:url(/content/sprite-bg.png) no-repeat 0 -274px;
	display:none;
}
.counter-block:hover .drop{display:block;}
/* bottom-nav slide */
.bottom-nav .slide{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}
/* slide-area */
.slide-area{
	margin:23px 0 0;
	border-top:1px solid #000;
	background:#000 url(/content/bg-slide.png) repeat-x;
}
/* slide-holder */
.bottom-nav .slide-holder{
	max-width:1000px;
	margin:0 auto;
	padding:15px 0 17px;
	position:relative;
}
.bottom-nav .slide-holder:after{
	content:'';
	display:block;
	clear:both;
}
/* bottom-nav link-holder */
.bottom-nav .link-holder{
	position:absolute;
	right:22px;
	top:-23px;
	margin:0 -9999px 0 0;
	padding:2px 9999px 23px 15px;
	background:url(/content/sprite-bg.png) no-repeat 0 -205px;
}
.bottom-nav .close{
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	line-height:17px;
	background:url(/content/icons.png) no-repeat 0 -407px;
	padding:0 0 0 24px;
}
.bottom-nav .close:hover{ color:#b22217;}
/* ticket-block */
.ticket-block{
	float:left;
	width:22%;
	padding:36px 0 0;
	text-align:center;
}
.bottom-nav .slide .price{
	font-size:16px;
	line-height:22px;
	font-weight:700;
	color:#fff;
	text-transform:uppercase;
}
.bottom-nav .slide .price span{
	display:block;
	font-weight:200;
	font-size:36px;
	line-height:36px;
	margin:0 0 2px;
}
/* ticket-holder */
.ticket-holder{
	float:left;
	color:#999;
	position:relative;
	margin:0 0 0 -26px;
}
.ticket-holder .holder{display:table;}
.ticket-holder .c { display: table-row; }
.ticket-holder .l,
.ticket-holder .r {
	background: url(/content/bg-left.png) repeat-y;
	width: 5px;
	display: table-cell;
}
.ticket-holder .r { background: url(/content/bg-right.png) repeat-y; }
.ticket-holder .content-holder {
	height: 1%;
	background:#000;
	text-align:center;
	padding:2px 14px 4px 6px;
	display: table-cell;
}
.ticket-holder .lt,
.ticket-holder .rt,
.ticket-holder .lb,
.ticket-holder .rb {
	background: url(/content/bg-tickets-holder.png) no-repeat;
	height: 5px;
	width: 5px;
	font-size: 0;
	display: table-cell;
}
.ticket-holder .rt { background: url(/content/bg-tickets-holder.png) no-repeat -10px 0; }
.ticket-holder .lb { background: url(/content/bg-tickets-holder.png) no-repeat 0 -10px; }
.ticket-holder .rb { background: url(/content/bg-tickets-holder.png) no-repeat -10px -10px; }
.ticket-holder .t,
.ticket-holder .b {
	background: url(/content/bg-tickets-holder.png) repeat-x 0 -18px;
	height: 5px;
	display: table-cell;
	font-size: 0;
}
.ticket-holder .b { background: url(/content/bg-tickets-holder.png) repeat-x 0 -26px;}
.ticket-holder p{
	font-size:14px;
	line-height:17px;
	text-transform:uppercase;
}
/* ticket-list */
.ticket-list{
	text-align:center;
	padding:12px 0 11px;
}
.ticket-list li{
	display:inline-block;
	vertical-align:top;
	padding:0 18px 0 20px;
}
*+html .ticket-list li{
	display:inline;
	padding-right:22px;
}
.bottom-nav .slide .ticket-list .price{color:#b22217;}
/* contact-holder */
.contact-holder{
	float:right;
	width:39%;
	color:#999;
	margin:22px 5% 0 0;
	text-align:center;
}
/* contact-frame */
.contact-frame{
	overflow:hidden;
	padding:0 0 23px;
	text-align:left;
}
/* contact-block */
.contact-block{
	float:left;
	padding:0 0 0 61px;
	background:url(/content/icons.png) no-repeat 0 -263px;
}
.contact-block strong{
	color:#999;
	display:block;
}
.contact-block .title{
	text-transform:uppercase;
	color:#fff;
	font-size:22px;
	line-height:26px;
	font-weight:900;
	margin:0 0 -2px;
}
.contact-block .phone{
	font-size:22px;
	line-height:26px;
	font-weight:normal;
	color:#fff;
	margin:0 0 -2px;
}
/* number-block */
.number-block{
	text-align:left;
	float:right;
	margin:7px 0 0;
	width:140px;
	color:#b22217;
	font-size:22px;
	line-height:26px;
	text-transform:uppercase;
	background:#33363a url(/content/bg-number-block.png) no-repeat -145px 100%;
}
.number-block .area{
	padding:8px 5px 7px 15px;
	background:url(/content/bg-number-block.png) no-repeat;
}
.number-block .number{
	font-weight:normal;
	display:block;
}
.number-block .number span{
	display:block;
	color:#fff;
	margin:0 0 -2px;
	font-size:16px;
	line-height:19px;
}
.contact-holder p a{
	color:#fff;
	font-weight:700;
}
.contact-holder p a:hover{color:#b22217;}
.contact-holder p .link-form{
	text-transform:uppercase;
	padding:0 19px 0 0;
	background:url(/content/icons.png) no-repeat 100% -353px;
}
.contact-holder .inactive{display:none;}
.contact-holder .inactive a{
	text-transform:uppercase;
	font-weight:700;
}
/* popup-holder */
.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}
.lightbox-area {
	float: left;
	max-width:528px;
	position: relative;
}
.lightbox .holder{display: table;}
.lightbox .c{display: table-row;}
.lightbox .l,
.lightbox .r{
	background: url(/content/bg-left2.png) repeat-y;
	width:5px;
	display:table-cell;
}
.lightbox .r{background: url(/content/bg-right2.png) repeat-y; }
.lightbox .content-holder{
	height: 1%;
	background: #fff;
	display: table-cell;
	padding:21px 26px 25px;
}
.lightbox .lt,
.lightbox .rt,
.lightbox .lb,
.lightbox .rb {
	background: url(/content/bg-tickets-holder.png) no-repeat 0 -34px;
	height: 5px;
	width: 5px;
	font-size: 0;
	display: table-cell;
}
.lightbox .rt { background: url(/content/bg-tickets-holder.png) no-repeat -10px -34px;}
.lightbox .lb { background: url(/content/bg-tickets-holder.png) no-repeat 0 -43px;}
.lightbox .rb { background: url(/content/bg-tickets-holder.png) no-repeat -10px -43px;}
.lightbox .t,
.lightbox .b {
	background: url(/content/bg-tickets-holder.png) repeat-x 0 -51px;
	height: 5px;
	display: table-cell;
	font-size: 0;
}
.lightbox .b { background: url(/content/bg-tickets-holder.png) repeat-x 0 -60px;}
.lightbox .title{
	font-weight:700;
	font-size:24px;
	line-height:27px;
	display:block;
	margin:0 0 15px;
}
.lightbox p{margin:0 0 25px;}
/* visual-block */
.visual-block{background:#000 url(/content/bg-visual-block.jpg) no-repeat 50% 100%;}
/* visual-holder */
.visual-holder{
	margin:0 auto;
	padding:95px 36px 50px 200px;
	min-height:310px;
	max-width:764px;
	color:#fff;
	overflow:hidden;
}
.visual-block .text-holder{
	float:right;
	width:500px;
	text-align:center;
}
#content .visual-block h2{
	color:#fff;
	margin:0 0 27px;
}
#content .visual-block h2 span{margin-bottom:3px;}
.visual-block .text-holder .row{padding:0 55px;}
/* support-block */
.support-block{background:#fff;}
/* support-holder */
.support-holder{
	max-width:766px;
	padding:72px 0 0 234px;
	margin:0 auto;
}
.support-block .heading{
	text-align:center;
	padding:0 32px 64px 0;
}
#content h3 .note{
	display:block;
	padding:2px 0 7px;
	font:italic 0.667em/1.188em 'Source Sans Pro', 'Trebuchet MS', Arial, Verdana, sans-serif;
}
.support-block .content{
	overflow:hidden;
	padding:0 0 59px;
}
.support-block .col{
	float:left;
	width:29%;
	margin:0 0 0 4.3%;
}
.support-block .col:first-child{margin-left:0;}
.support-block .title-block{
	padding:0 10px 0 0;
	overflow:hidden;
}
.support-block .image-area{
	margin:0 0 73px -233px;
	overflow:hidden;
}
.support-block .image-area img{float:right;}
/* logos */
.logos{
	float:left;
	padding:47px 0 0 33px;
}
.logos li{margin:0 0 28px;}
/* blockquote */
.blockquote{
	color:#b22217;
	font-weight:200;
	font-size:1.875em;
	line-height:1.333em;
	margin:-17px 0 70px;
	padding:0 45px 0 0;
}
/* radio-block */
.radio-block{
	overflow:hidden;
	margin:0 0 0 -287px;
	padding:0 39px 120px 0;
}
.radio-block .photo{
	float:left;
	margin:6px 41px 0 0;
}
.radio-block .description{overflow:hidden;}
.radio-block .description p{margin:0 0 17px;}
/* radio-holder */
.radio-holder{overflow:hidden;}
.radio-holder .section{
	float:left;
	width:340px;
}
.radio-holder .section .title{
	display:block;
	text-transform:uppercase;
	color:#b22217;
	font-size:1em;
	line-height:1.188em;
	font-weight:700;
	margin:0 0 1px;
}
/* radio-list */
.radio-list{
	overflow:hidden;
	margin:0 0 17px -9px;
}
.radio-list li{
	float:left;
	background:url(/content/separator.png) no-repeat 0 5px;
	padding:0 7px 0 9px;
}
/* logo-state */
.logo-state{
	float:right;
	margin:56px 0 0;
}
/* image-section */
.image-section{
	width: 100%;
	overflow: hidden;
	position: relative;
	margin:0 0 74px;
}
.image-section .holder{
	width: 1040px;
	position: relative;
	float: left;
	left: 50%;
}
.image-section .frame{
	width: 1040px;
	position: relative;
	float: left;
	left: -50%;
}
.image-section img{display:block;}
.image-section .img-tablets,
.image-section .img-mobile{display:none;}
/* form-block */
.form-block{
	max-width:728px;
	padding:0 39px 75px 233px;
	margin:0 auto;
}
.form-block .heading{
	text-align:center;
	padding:0 0 53px;
}
#content .form-block h2 span{margin:0 0 3px;}
.form-block .holder{width:100%;}
.form-block .holder:after{
	content:'';
	display:block;
	clear:both;
}
.form-block .text-section{
	float:left;
	width:43%;
}
/* send-form */
.send-form{
	float:right;
	width:346px;
}
#content .send-form h3{color:#b22217;}
.send-form .note{
	display:block;
	font-style:italic;
	font-size:0.875em;
	line-height:1.286em;
	padding:3px 0 16px 1px;
}
.send-form .text{
	width:100%;
	margin:0 0 20px;
}
.send-form .text:after{
	content:'';
	display:block;
	clear:both;
}
.send-form input[type=text]{
	background:#fafafa;
	width:308px;
	margin:0;
	padding:9px 18px 8px;
	border:1px solid #eaeaea;
	float:left;
	color:#999;
	font:18px/22px 'Source Sans Pro', 'Trebuchet MS', Arial, Verdana, sans-serif;
}
.send-form .check-block{
	overflow:hidden;
	margin:-5px 0 19px 2px;
}
.send-form input[type=checkbox]{
	float:left;
	width:14px;
	height:14px;
	margin:0 8px 0 0;
	padding:0;
}
.send-form .check-block label{
	float:left;
	font-size:14px;
	line-height:17px;
	font-style:italic;
	margin:-3px 0 0;
	width:310px;
}
.send-form input[type=submit]{
	background:#ebebeb url(/content/sprite.png) no-repeat 0 -183px;
	width:128px;
	height:57px;
	margin:0 0 0 1px;
	padding:0;
	cursor:pointer;
	border:none;
	display:block;
	color:#444;
	font:600 24px/57px 'Source Sans Pro', 'Trebuchet MS', Arial, Verdana, sans-serif;
}
/* generic-block */
.generic-block{
    max-width:728px;
    padding:74px 39px 75px 233px;
    margin:0 auto;
}
.generic-block .heading{
    text-align:left;
    padding:0 0 53px;
}
#content .generic-block h2 span{margin:0 0 3px;}
.generic-block .holder{width:100%;}
.generic-block .holder:after{
    content:'';
    display:block;
    clear:both;
}
.generic-block .text-section{
    float:left;
    width:100%;
}
.generic-block .text-section strong{
    font-weight:bold;
}
.generic-block .text-section p{
    margin:0 0 15px;
}
.generic-block .text-section ul li{
    margin:0 0 15px 15px;
}
/* mobile-block */
.mobile-block{
	max-width:1000px;
	padding:0 0 130px;
	margin:0 auto;
}
.mobile-block .heading{
	text-align:center;
	padding:0 0 57px 232px;
}
.mobile-block .holder{
	overflow:hidden;
	margin:0 0 0 -84px;
}
.mobile-block .photo{
	width:63%;
	float:left;
	margin:0 76px 0 0;
}
.mobile-block .photo img{
	width:100%;
	height:auto;
}
.mobile-block .text-section{
	overflow:hidden;
	padding:75px 9% 0 0;
}
.mobile-block .text-section p{margin:0 0 30px;}
.addthis_toolbox {border-bottom:solid #dddddd 1px; padding:10px 0 20px 0;}
.addthis_toolbox a {margin:0 15px 0 0;}
.error {color: #b22217;}
.price-list{
	position:absolute;
	right:174px;
	bottom:52px;
	margin:0 -80px 0 0;
	padding:0;
	font-size:16px;
	line-height:19px;
	text-transform:uppercase;
	list-style:none;
	text-align:right;
	overflow:hidden;
}
.price-list li{
	display:inline-block;
	vertical-align:middle;
	margin:0 81px 0 0;
}
.price-list .price{
	display:block;
	font-size:48px;
	line-height:48px;
	font-weight:bold;
}
.price-list a{
	color:#fff;
}
.price-list a:hover{
	text-decoration:none;
}
.adventure-section{
	position:relative;
	color:#363636;
}
.adventure-section .prize-holder{
	max-width:756px;
	min-height:605px;
	padding:54px 20px 0 262px;
}
.adventure-section .prize-holder .holder{
	padding:0 0 0 200px;
}
.trip-section .prize-holder .holder{
	padding-bottom:41px;
}
.trip-section .prize-holder .content,
.adventure-section .prize-holder .content{
	color:#363636;
}
.trip-section .prize-holder .content{
	padding-right:172px;
}
#content .trip-section .prize-holder h2,
#content .adventure-section .prize-holder h2{
	color:#363636;
	margin-bottom:21px;
}
#content .trip-section .prize-holder h2{
	padding-right:329px;
	margin-bottom:62px;
}
.adventure-section .prize-holder .text{
	font-size:1.3em;
	line-height:1.1em;
	font-weight:bold;
}
.trip-section{
	position:relative;
	overflow:hidden;
}
.trip-section .img-list{
	margin:0 -24px 0 0;
	padding:0 0 0 4px;
	list-style:none;
	overflow:hidden;
}
.trip-section .img-list li{
	display:inline-block;
	vertical-align:top;
	margin:0 20px 0 0;
}
.trip-section .img-list img{
	display:block;
	width:100%;
	height:auto;
}
.trip-section .prize-holder{
	padding:76px 20px 50px 250px;
	max-width:780px;
}
.multi-ticket-list{
	margin:0;
	padding:0;
	text-transform:uppercase;
	list-style:none;
}
.multi-ticket-list span{
	display:inline-block;
	vertical-align:middle;
	margin:0 7px 0 0;
}
.multi-ticket-list .mark{
	font-size:48px;
	line-height:52px;
	font-weight:300;
	margin:0 7px 0 0;
}
.multi-ticket-list .text{
	padding:1px;
	min-width:27px;
	min-height:27px;
	font-weight:bold;
	background:#000;
	border-radius:50%;
	overflow:hidden;
	color:#fff;
	text-transform:none;
	box-sizing:border-box;
	text-align:center;
	margin-left:35px;
}
/* media queries */

/* TODO - Let's add our first media query

@media is the key word
This should work on 'only devices with screens' aka - no print
AND
where the max-width: is 1330px or less
This looks like this:
@media only screen and (max-width: 1330px){
    Inside here add a selector for  .home .add-nav em
		Set the font-size to 24px
		Set the line-height to 27px
} */
@media only screen and (max-width: 1330px) {
.home .add-nav em{
	font-size: 24px;
	line-height: 27px;
	}	
}

#wuf-adv { display: none !important; }

#header.info { display: none !important; }
